<launch>
    <arg name="use_upper_body_detector" default="false"/> <!-- use depth-template-based upper-body detector? -->
    <arg name="use_pcl_detector" default="false"/> <!-- use ROI-HOG detector from PCL library? cannot be used with upper-body detector at the same time! -->
    <arg name="use_hog_detector" default="false"/> <!-- use RGB groundHOG detector? Requires cudaHOG library-->


    <!-- RGB-D detectors -->
    <!--
    <include file="$(find spencer_people_tracking_launch)/launch/detectors/front_rgbd_detectors.launch">
        <arg name="upper_body" value="$(arg use_upper_body_detector)"/>
        <arg name="pcl_detector" value="$(arg use_pcl_detector)"/>
        <arg name="hog" value="$(arg use_hog_detector)"/>
    </include>

    <include file="$(find spencer_people_tracking_launch)/launch/detectors/rear_rgbd_detectors.launch">
        <arg name="upper_body" value="$(arg use_upper_body_detector)"/>
        <arg name="pcl_detector" value="$(arg use_pcl_detector)"/>
        <arg name="hog" value="$(arg use_hog_detector)"/>
    </include>
    -->

    <!-- Laser detectors -->
    <include file="$(find spencer_people_tracking_launch)/launch/detectors/laser_detectors.launch">
        <arg name="low_confidence_detections" value="false"/>
        <arg name="laser_max_distance" value="5"/>
        <arg name="merged" value="true"/>
        <arg name="front" value="false"/>
        <arg name="rear" value="false"/>
        <arg name="foot" value="false"/>
    </include>

    <!-- Leg detectors -->
<!--     <include file="$(find spencer_people_tracking_launch)/launch/detectors/leg_detectors.launch">
        <arg name="merged" value="false"/>
        <arg name="front" value="true"/>
        <arg name="rear" value="false"/>
    </include> -->

    <!-- People tracking -->
    <include file="$(find spencer_people_tracking_launch)/launch/tracking/freiburg_people_tracking.launch">
        <arg name="rgbd" value="false"/>
        <arg name="laser_low_confidence_detections" value="false"/>
    </include>

    <!-- Group tracking -->
    <!-- <include file="$(find spencer_people_tracking_launch)/launch/tracking/group_tracking.launch"/>  -->

</launch>
